<% provide(:title, @user.full_name) %>
<br>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="profile-card">
      <div class="profile-pic">
        <%= cl_image_tag @user.account.image, client_hints: true, transformation: [ 
                          { gravity: "auto", width: "150", height: "150", radius: "max", crop: "fill" }] %>
      </div>
      <div class="loader"></div>
      <div>
        <h4><%= @user.full_name %></h4>
      </div>
      <div class="stats">
        <span><%= @user.videos.count %> Videos</span> | 
        <span><%= @user.account.balance %> Minutes</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-right">
    <% if @user == current_user %>
      <%= form_with scope: :account, url: "/accounts", method: :patch do |form| %>
        <label class="btn-link text-center">Change profile photo
         <%= cl_image_upload_tag(:image_id, aria_hidden: true, id: "file-upload-br") %>
        </label>
        <br>
          <%= form.submit "Update", class: "btn btn-primary profile-save" %>
      <% end %>
    <% end %>
  </div>
</div>


<hr>
<div class="row">
  <% @user.videos.each do |video| %>
    <div class="col-md-4">
      <div class="br-card">
        <%= link_to video_path(video), class: "br-card-link" do %>
          <%= cl_image_tag(video.image, :client_hints=>true, :transformation=>[
          {:aspect_ratio=>"16:9", :gravity=>"auto", :crop=>"fill"},
          {:width=>"auto", :quality=>"auto", :fetch_format=>:auto, :crop=>"scale"}
          ]) %>
        <% end %>
        <div class="br-card-body">
          <div class="mb-2">
            <%= link_to video_path(video), class: "br-card-link br-card-title" do %>
              <%= video.title %>
              <!-- make div clickable -->
              <span></span>
            <% end %>
          </div>
          <div>
            <%= link_to video.user.full_name, user_path(video.user), class: "br-card-link fuck text-secondary user-link" %>
          </div>
          <div>
            <%= link_to "#{video.minutes} Views", video_path(video), class: "br-card-link text-secondary" %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
  $(function() {
    if($.fn.cloudinary_fileupload !== undefined) {

      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload({
      });

      $('.cloudinary-fileupload').bind('fileuploadadd', function(e, data) { 
        $(".loader").show();
      });

      $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
        console.log(data);
      });

      $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
        var id = data.result.public_id;
        var format = data.result.format;
        var version = data.result.version;
        var url = "https://res.cloudinary.com/eli/image/upload/w_150,h_150,c_fill,g_auto,r_max/v" + version + "/" + id + "." + format;
        $(".profile-pic img").attr("src", url);
        $(".loader").hide();
        $(".profile-save").show();
        console.log(id, format, version, url);
      });
    }
  });
</script>