<br>
<%= form_with(model: @video, local: true) do |form| %>
  <div class="form-row">
    <div class="col-md-5">
      <%= content_tag :div, "", 
        class: "browzable-wrapper", 
        data: { url: @video.clip.url, video_id: @video.id } do %>
          <div id="browzable-video"></div>
      <% end %>
    </div>
    <div class="form-group col-md-5">
      
      <div class="preview-image">
        <% if @video.image %>
          <%= cl_image_tag(@video.image, width: 200) %>
        <% end %>
        <div>
          <%= form.label :image, "Preview Image" %>
        </div>
      </div>
      <%= cl_image_upload_tag(:image_id, aria_hidden: true) %>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="col-md-5">
      <div class="form-group">
        <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
      </div>
      <div class="form-group">
        <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.label :public, "show", class: "form-check-label" do %>
          <%= form.radio_button :public, true, class: "form-check-input" %> Public
        <% end %>
      </div>
      <div class="form-check, form-check-inline">
        <%= form.label :public, "hide", class: "form-check-label" do %>  
          <%= form.radio_button :public, false, class: "form-check-input" %> Private
        <% end %>
      </div>
      <div class="form-group">
        <%= form.submit "Update", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="embed-code-container bg-light">
        <h5>Embed Code</h5>
        &lt;iframe&gt; width="560" height="315" src="https://www.browzable.com/embeds/<%= @video.id %>" frameborder="0" allowfullscreen>&lt;/iframe&gt;
      </div>
    </div>
  </div>
<% end %>
<hr>
<% if !@video.removed %>
  <%= link_to "Remove Video", remove_video_path(@video), method: :patch, class: "btn btn-danger" %>
<% else %>
  <%= link_to "Restore", restore_video_path, method: :patch, class: "btn btn-success" %>
<% end %>

<%= cloudinary_js_config %>

<script>

  //Show Video
  var wrapper = document.querySelector(".browzable-wrapper");
  var url = wrapper.dataset.url;
  var videoId = wrapper.dataset.videoId;
  var playerInstance = jwplayer("browzable-video");
  var balance = $(".minutes-balance");
  var playDuration = 10;

  playerInstance.setup({
      file: url
  });

  jwplayer().on('ready', function() {
    $(".jw-spacer").addClass("br-info")
    $(".br-info").append(balance);
    email.show();
  });

  // Preview Upload
  $(function() {
    if($.fn.cloudinary_fileupload !== undefined) {

      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload({
      });

      $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
        console.log(data);
        $(".preview-image").html(data.files[0].name);
      });

      $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
        var id = data.result.public_id;
        var format = data.result.format;
        var version = data.result.version;
        var url = "http://res.cloudinary.com/eli/image/upload/w_200/v" + version + "/" + id + "." + format;
        $(".preview-image").html("<img src=" + url + ">");
        console.log(id, format, version, url);
      });
    }
  });
</script>