<div class="row movies-row">
  <% @videos.each do |video| %>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 movie-col">
      <div class="movie-card">
        <%= link_to video_path(video), class: "br-card-img-link" do %>
          <%= cl_image_tag(video.image, :client_hints=>true, :transformation=>[
          {:aspect_ratio=>"2:3", :gravity=>"auto", :crop=>"fill"},
          {:width=>"auto", :quality=>"auto", :fetch_format=>:auto, :crop=>"scale"}
          ]) %>
          <!-- <span class="video-time"><%#= youtube_time(video.duration) %></span> -->
        <% end %>
        <!-- <div class="br-card-body">

          <%#= link_to "", video_path(video), class: "clickable" %>

          <div class="mb-2">
            <h4 class="br-card-link br-card-title"><%= video.title %></h4>
          </div>
          <div>
            <%#= link_to video.user.full_name, user_path(video.user), class: "br-card-link text-secondary user-link" %> 
            <span class="text-secondary"> | <%= video.minutes %> Views</span>
          </div>
        </div> -->
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-12">
    <%= paginate @videos %>
  </div>
</div>



  