<% provide(:title, "Upload") %>
<br>
<br>
<div class="row">
  <div class="col-md-6 m-auto text-center">
    <div class="file_type_alert"></div>
    <%= form_with(model: Video.new, local: true) do |form| %>
      <% if @video.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
          <ul>
          <% @video.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <label for="video_clip" class="custom-file-upload">
          Choose files to upload
        </label>
        <%= form.file_field :clip, id: :video_clip, 
            multiple: true, 
            name: "video[clip]", 
            class: "form-control-file video-upload" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 m-auto">
    <ul id="videos" class="list-group">
    </ul>
    <br>
    <%= link_to 'Continue', library_path, class: "btn btn-primary", id: "continue" %>
  </div>
</div>
