<div class="row">
  <div class="col-lg-10 m-auto">
    <p id="notice"><%= notice %></p>
    

    <!-- <p>
      <strong>URL:</strong>
      <%#= @video.secret_url %>
    </p> -->

    <div class="minutes-balance">
      <span class="balance-span">Browzable <%= link_to number_to_human(current_user.account.balance / 60), 
        root_path, class: "icon-link" %></span>
    </div>
    <%= content_tag :div, "", class: "browzable-wrapper", data: { url: @video.clip.url, video_id: @video.id } do %>
      <div id="browzable-video"></div>
    <% end %>
    <div class="video-info-container">
        <h4><%= @video.title %></h4>
        <span><%= @video.minutes %> Views</span> | <span><%= time_ago_in_words(@video.created_at) %></span>
        <hr>
      <div class="user-info">
        <%= link_to @video.user.full_name, user_path(@video.user), class: "uploader-link" %>
      </div>
      
    </div>
    <%= link_to 'Edit', edit_video_path(@video) %> |
    <%= link_to 'Back', videos_path %>
  </div>
</div>



<%#= video_tag @video.clip.url, controls: true %>
<%#= video_tag @video.secret_url, width: 640, controls: true %>



<script type="text/javaScript">
  
  var wrapper = document.querySelector(".browzable-wrapper");
  var url = wrapper.dataset.url;
  var videoId = wrapper.dataset.videoId;
  var playerInstance = jwplayer("browzable-video");
  var balance = $(".minutes-balance");
  var playDuration = 10;

  playerInstance.setup({
      file: url
  });

  // Embed JWplayer

  jwplayer().on('ready', function() {
    $(".jw-spacer").addClass("br-info")
    $(".br-info").append(balance);
    balance.show();
  });

  //inaccurate timekeeping

  var counter = 0;
  var prevPosition = 0;

  jwplayer().on('time', function(time) {
    counter += time.position - prevPosition;
    console.log(counter);
    prevPosition = time.position;
    if (counter > playDuration) {
      sendPlay();
      counter -= playDuration;
    }
  });

  jwplayer().on('seeked', function() {
    counter = 0;
  })

  //post to server

  function sendPlay() {
    var playData = { play: {video_id: videoId, duration: playDuration} }
    console.log(playData);
    var request = $.ajax({
      url: "/plays",
      method: "POST",
      data: playData,
      dataType: "html"
    });

    request.done(function( msg ) {
      console.log(msg);
    });
  }
  
  
</script>


