<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>User</th>
      <th>Duration</th>
      <th>Views</th>
      <th>Approved</th>
      <th>Featured</th>
      <th>Suspended</th>
      <% if params[:show_removed] %>
        <th>Removed</th>
      <% end %>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.id %></td>
        <td><%= video.title %></td>
        <td><%= video.user.full_name %></td>
        <td><%= video.duration %></td>
        <td><%= video.views %></td>
        <td><%= link_to video.approved.to_s, toggle_approval_admin_video_path(video), method: :patch %></td>
        <td><%= link_to video.featured.to_s, toggle_featured_admin_video_path(video), method: :patch %></td>
        <td><%= link_to video.suspended.to_s, toggle_suspended_admin_video_path(video), method: :patch %></td>
        <% if params[:show_removed] %>
          <td><%= video.removed %></td>
        <% end %>
        <td><%= link_to "Download", video.clip.url %></td>
        <td><%= link_to 'Show', video, 'data-turbolinks' => 'false' %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %> |
<% if params[:show_removed] %>
  <%= link_to "Hide Removed" %>
<% else %>
  <%= link_to 'Show Removed', admin_videos_path(show_removed: true) %>
<% end %>
