<% if user_signed_in? %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="browzable-brand">

      <%= link_to root_path do %>
        <%= image_tag "browzable_logo_black.png", width: 130, height: 32, class: "mb-1 br-logo" %>
      <% end %>
      <span class="dot-separator">&#8226;</span>
      <%= link_to(number_to_human(current_user.account.balance/60), 
                  root_path, class: "br-balance") %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <%#= nav_link("Videos", videos_path) %>
        </li> -->
        
        <li class="nav-item">
          <%= nav_link "Buy Minutes", new_charge_path %>
        </li>
        <!-- <li class="nav-item">
          # nav_link "Upload", new_video_path %>
        </li> -->
        <% if current_user.videos.any? %>
          <li class="nav-item">
            <%= nav_link "Library", library_path %>
          </li>
        <% end %>
      </ul>

      
      <div class="navbar-nav ml-auto">
        <%= form_tag("/search", method: :get, class: "form-inline my-2 my-lg-0") do %>
          <div class="input-group search-group">
            <%= text_field_tag(:q, "", class: "search-control form-control", 
                                placeholder: params[:q] || "Search videos", id: "search-input") %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-secondary"><%= fa_icon "search" %></button>
            </span>
          </div>
        <% end %>
      </div>
      <ul class="navbar-nav">
        <%#= link_to "Buy minutes", new_charge_path, class: "btn btn-secondary btn-square my-2 my-lg-0" %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="buttton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-right nav-item" aria-labelledby="dropdownMenuButton">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" if current_user.videos.any? %>
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" if current_user.videos.any? %>
            <%#= link_to "Usage", usage_path, class: "dropdown-item" %>
            <%= link_to "Account", account_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
  </nav>

<% else %>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <%= link_to root_path, class: "br-icon" do %>
        <%= image_tag "browzable_logo_black.png", width: 130, height: 32, class: "mb-1 br-logo" %>
      <% end %>

    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <%#= link_to "Videos", videos_path, class: "nav-link" %>
      </li>
    </ul> -->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link pr-3" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </nav>
<% end %>
