<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Embeds</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if ((params[:controller] == "videos" || params[:controller] == "embeds") && 
        (params[:action] == "show" || params[:action] == "edit")) %>
      <script src="https://content.jwplatform.com/libraries/nS0lyy3E.js"> </script>
    <% end %>
    <script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
  </head>

  <body>
    <% unless params[:controller] == "embeds" || params[:action] == "welcome" %> 
      <%= render 'layouts/nav' %>
      <main class="container">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>