<% provide(:title, "Dashboard") %>
<br>
<div class="row">
  <div class="col">
    <h4 class="text-center">Creator Dashboard</h4>
    <h6>Balance: <%= current_account.balance / 60  %></h6>
    <h6>Earned <%= current_account.minutes_earned_last(30) %> minutes in the last 30 days</h6>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-5">
    <% if @top_earning.count > 0 %>
      <h6>Top earning videos</h6>
      <ul class="list-group">
        <% @top_earning.each do |video| %>
          <li class="list-group-item">
            <%= link_to video[0].title, video_path(video[0]) %>
            <span class="float-right"><%= video[1] / 60  %> min</span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No earnings yet. <%= link_to "Upload videos", new_video_path %></p>
    <% end %>
  </div>
</div>

