<div class="profile-header-row">
  <div class="profile-card">
    <div class="profile-pic">
      <%= cl_image_tag current_account.image, client_hints: true, transformation: [ 
                        { gravity: "auto", width: "150", height: "150", radius: "max", crop: "fill" }] %>
      <div class="loader"></div>
    </div>
    
    <div>
      <h4><%= current_user.full_name %></h4>
    </div>
    <div class="stats">
      <span><%= current_user.videos.count %> Videos</span> | 
      <span><%= current_account.balance %> Minutes</span>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4 m-auto text-center">
    <%= form_with scope: :account, url: "/accounts", method: :patch do |form| %>
      <label class="btn-link text-center">Change profile photo
        <%= cl_image_upload_tag(:image_id, aria_hidden: true, id: "file-upload-br") %>
      </label>
      <br>
        <%= form.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    if($.fn.cloudinary_fileupload !== undefined) {

      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload({
      });

      $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
        console.log(data);
        $(".card-img-top").attr("src", "/assets/loading.png");
      });

      $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
        var id = data.result.public_id;
        var format = data.result.format;
        var version = data.result.version;
        var url = "https://res.cloudinary.com/eli/image/upload/w_150,h_150,c_fill,g_auto,r_max/v" + version + "/" + id + "." + format;
        $(".profile-pic img").attr("src", url);
        console.log(id, format, version, url);
      });
    }
  });
</script>