<% provide(:title, "Account") %>
<br>

<h4><%= current_user.full_name %> Account</h4>

<span class="account-header">Balance: <%= current_account.balance / 60 %></span>
<ul>
  <li>Streamed <%= current_account.minutes_used_last_30 %> minutes in the last 30 days</li>
  <li>Purchased <%= current_account.minutes_purchased_last_30 %> minutes in the last 30 days</li>
</ul>
<hr>
<div class="row">
  <div class="col-md-5">
    <h6>Most watched Creators</h6>
    <ul class="list-group">
      <% @top_uploaders.each do |uploader| %>
        <li class="list-group-item">
          <%=link_to uploader[0].full_name, user_path(uploader[0]) %>
          <span class="float-right"><%= uploader[1] / 60%> min</span> 
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5">
    <h6>Most watched videos</h6>
    <ul class="list-group">
      <% @top_videos.each do |video| %>
        <li class="list-group-item">
          <%= link_to video[0].title, video_path(video) %>
          <span class="float-right"><%= video[1] /60 %> min</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>






